@font-face {
	font-family: 'Archer';
	src: url('ArcherPro-Bold.eot');
	src: url('ArcherPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('ArcherPro-Bold.woff2') format('woff2'),
		url('ArcherPro-Bold.woff') format('woff'),
		url('ArcherPro-Bold.ttf') format('truetype'),
		url('ArcherPro-Bold.svg#ArcherPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('ArcherPro-BookItalic.eot');
	src: url('ArcherPro-BookItalic.eot?#iefix') format('embedded-opentype'),
		url('ArcherPro-BookItalic.woff2') format('woff2'),
		url('ArcherPro-BookItalic.woff') format('woff'),
		url('ArcherPro-BookItalic.ttf') format('truetype'),
		url('ArcherPro-BookItalic.svg#ArcherPro-BookItalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('ArcherPro-Book.eot');
	src: url('ArcherPro-Book.eot?#iefix') format('embedded-opentype'),
		url('ArcherPro-Book.woff2') format('woff2'),
		url('ArcherPro-Book.woff') format('woff'),
		url('ArcherPro-Book.ttf') format('truetype'),
		url('ArcherPro-Book.svg#ArcherPro-Book') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('ArcherPro-BoldItalic.eot');
	src: url('ArcherPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('ArcherPro-BoldItalic.woff2') format('woff2'),
		url('ArcherPro-BoldItalic.woff') format('woff'),
		url('ArcherPro-BoldItalic.ttf') format('truetype'),
		url('ArcherPro-BoldItalic.svg#ArcherPro-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('ArcherPro-MediumItalic.eot');
	src: url('ArcherPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('ArcherPro-MediumItalic.woff2') format('woff2'),
		url('ArcherPro-MediumItalic.woff') format('woff'),
		url('ArcherPro-MediumItalic.ttf') format('truetype'),
		url('ArcherPro-MediumItalic.svg#ArcherPro-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('ArcherPro-SemiboldItalic.eot');
	src: url('ArcherPro-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('ArcherPro-SemiboldItalic.woff2') format('woff2'),
		url('ArcherPro-SemiboldItalic.woff') format('woff'),
		url('ArcherPro-SemiboldItalic.ttf') format('truetype'),
		url('ArcherPro-SemiboldItalic.svg#ArcherPro-SemiboldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('ArcherPro-Medium.eot');
	src: url('ArcherPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('ArcherPro-Medium.woff2') format('woff2'),
		url('ArcherPro-Medium.woff') format('woff'),
		url('ArcherPro-Medium.ttf') format('truetype'),
		url('ArcherPro-Medium.svg#ArcherPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('ArcherPro-Semibold.eot');
	src: url('ArcherPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('ArcherPro-Semibold.woff2') format('woff2'),
		url('ArcherPro-Semibold.woff') format('woff'),
		url('ArcherPro-Semibold.ttf') format('truetype'),
		url('ArcherPro-Semibold.svg#ArcherPro-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
/* This stylesheet generated by Transfonter (http://transfonter.org) on June 21, 2016 9:19 PM */

@font-face {
	font-family: 'Gotham Rounded';
	src: url('GothamRounded-Medium.eot');
	src: url('GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
		url('GothamRounded-Medium.woff2') format('woff2'),
		url('GothamRounded-Medium.woff') format('woff'),
		url('GothamRounded-Medium.ttf') format('truetype'),
		url('GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded Book';
	src: url('GothamRounded-Book.eot');
	src: url('GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
		url('GothamRounded-Book.woff2') format('woff2'),
		url('GothamRounded-Book.woff') format('woff'),
		url('GothamRounded-Book.ttf') format('truetype'),
		url('GothamRounded-Book.svg#GothamRounded-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url('GothamRounded-Light.eot');
	src: url('GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
		url('GothamRounded-Light.woff2') format('woff2'),
		url('GothamRounded-Light.woff') format('woff'),
		url('GothamRounded-Light.ttf') format('truetype'),
		url('GothamRounded-Light.svg#GothamRounded-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url('GothamRounded-Bold.eot');
	src: url('GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
		url('GothamRounded-Bold.woff2') format('woff2'),
		url('GothamRounded-Bold.woff') format('woff'),
		url('GothamRounded-Bold.ttf') format('truetype'),
		url('GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
/* This stylesheet generated by Transfonter (http://transfonter.org) on June 21, 2016 9:19 PM */

@font-face {
	font-family: 'Tungsten';
	src: url('Tungsten-Medium.eot');
	src: url('Tungsten-Medium.eot?#iefix') format('embedded-opentype'),
		url('Tungsten-Medium.woff2') format('woff2'),
		url('Tungsten-Medium.woff') format('woff'),
		url('Tungsten-Medium.ttf') format('truetype'),
		url('Tungsten-Medium.svg#Tungsten-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Tungsten';
	src: url('Tungsten-Semibold.eot');
	src: url('Tungsten-Semibold.eot?#iefix') format('embedded-opentype'),
		url('Tungsten-Semibold.woff2') format('woff2'),
		url('Tungsten-Semibold.woff') format('woff'),
		url('Tungsten-Semibold.ttf') format('truetype'),
		url('Tungsten-Semibold.svg#Tungsten-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Tungsten';
	src: url('Tungsten-Black.eot');
	src: url('Tungsten-Black.eot?#iefix') format('embedded-opentype'),
		url('Tungsten-Black.woff2') format('woff2'),
		url('Tungsten-Black.woff') format('woff'),
		url('Tungsten-Black.ttf') format('truetype'),
		url('Tungsten-Black.svg#Tungsten-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Tungsten';
	src: url('Tungsten-Bold.eot');
	src: url('Tungsten-Bold.eot?#iefix') format('embedded-opentype'),
		url('Tungsten-Bold.woff2') format('woff2'),
		url('Tungsten-Bold.woff') format('woff'),
		url('Tungsten-Bold.ttf') format('truetype'),
		url('Tungsten-Bold.svg#Tungsten-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
