@font-face {
	font-family: 'Archer';
	src: url('../assets/fonts/ArcherPro-Bold.eot');
	src: url('../assets/fonts/ArcherPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/ArcherPro-Bold.woff2') format('woff2'),
		url('../assets/fonts/ArcherPro-Bold.woff') format('woff'),
		url('../assets/fonts/ArcherPro-Bold.ttf') format('truetype'),
		url('../assets/fonts/ArcherPro-Bold.svg#ArcherPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('../assets/fonts/ArcherPro-BookItalic.eot');
	src: url('../assets/fonts/ArcherPro-BookItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/ArcherPro-BookItalic.woff2') format('woff2'),
		url('../assets/fonts/ArcherPro-BookItalic.woff') format('woff'),
		url('../assets/fonts/ArcherPro-BookItalic.ttf') format('truetype'),
		url('../assets/fonts/ArcherPro-BookItalic.svg#ArcherPro-BookItalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('../assets/fonts/ArcherPro-Book.eot');
	src: url('../assets/fonts/ArcherPro-Book.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/ArcherPro-Book.woff2') format('woff2'),
		url('../assets/fonts/ArcherPro-Book.woff') format('woff'),
		url('../assets/fonts/ArcherPro-Book.ttf') format('truetype'),
		url('../assets/fonts/ArcherPro-Book.svg#ArcherPro-Book') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('../assets/fonts/ArcherPro-BoldItalic.eot');
	src: url('../assets/fonts/ArcherPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/ArcherPro-BoldItalic.woff2') format('woff2'),
		url('../assets/fonts/ArcherPro-BoldItalic.woff') format('woff'),
		url('../assets/fonts/ArcherPro-BoldItalic.ttf') format('truetype'),
		url('../assets/fonts/ArcherPro-BoldItalic.svg#ArcherPro-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('../assets/fonts/ArcherPro-MediumItalic.eot');
	src: url('../assets/fonts/ArcherPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/ArcherPro-MediumItalic.woff2') format('woff2'),
		url('../assets/fonts/ArcherPro-MediumItalic.woff') format('woff'),
		url('../assets/fonts/ArcherPro-MediumItalic.ttf') format('truetype'),
		url('../assets/fonts/ArcherPro-MediumItalic.svg#ArcherPro-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('../assets/fonts/ArcherPro-SemiboldItalic.eot');
	src: url('../assets/fonts/ArcherPro-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/ArcherPro-SemiboldItalic.woff2') format('woff2'),
		url('../assets/fonts/ArcherPro-SemiboldItalic.woff') format('woff'),
		url('../assets/fonts/ArcherPro-SemiboldItalic.ttf') format('truetype'),
		url('../assets/fonts/ArcherPro-SemiboldItalic.svg#ArcherPro-SemiboldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('../assets/fonts/ArcherPro-Medium.eot');
	src: url('../assets/fonts/ArcherPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/ArcherPro-Medium.woff2') format('woff2'),
		url('../assets/fonts/ArcherPro-Medium.woff') format('woff'),
		url('../assets/fonts/ArcherPro-Medium.ttf') format('truetype'),
		url('../assets/fonts/ArcherPro-Medium.svg#ArcherPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('../assets/fonts/ArcherPro-Semibold.eot');
	src: url('../assets/fonts/ArcherPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/ArcherPro-Semibold.woff2') format('woff2'),
		url('../assets/fonts/ArcherPro-Semibold.woff') format('woff'),
		url('../assets/fonts/ArcherPro-Semibold.ttf') format('truetype'),
		url('../assets/fonts/ArcherPro-Semibold.svg#ArcherPro-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
/* This stylesheet generated by Transfonter (http://transfonter.org) on June 21, 2016 9:19 PM */

@font-face {
	font-family: 'Gotham Rounded';
	src: url('../assets/fonts/GothamRounded-Medium.eot');
	src: url('../assets/fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/GothamRounded-Medium.woff2') format('woff2'),
		url('../assets/fonts/GothamRounded-Medium.woff') format('woff'),
		url('../assets/fonts/GothamRounded-Medium.ttf') format('truetype'),
		url('../assets/fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded Book';
	src: url('../assets/fonts/GothamRounded-Book.eot');
	src: url('../assets/fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/GothamRounded-Book.woff2') format('woff2'),
		url('../assets/fonts/GothamRounded-Book.woff') format('woff'),
		url('../assets/fonts/GothamRounded-Book.ttf') format('truetype'),
		url('../assets/fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url('../assets/fonts/GothamRounded-Light.eot');
	src: url('../assets/fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/GothamRounded-Light.woff2') format('woff2'),
		url('../assets/fonts/GothamRounded-Light.woff') format('woff'),
		url('../assets/fonts/GothamRounded-Light.ttf') format('truetype'),
		url('../assets/fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url('../assets/fonts/GothamRounded-Bold.eot');
	src: url('../assets/fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/GothamRounded-Bold.woff2') format('woff2'),
		url('../assets/fonts/GothamRounded-Bold.woff') format('woff'),
		url('../assets/fonts/GothamRounded-Bold.ttf') format('truetype'),
		url('../assets/fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
/* This stylesheet generated by Transfonter (http://transfonter.org) on June 21, 2016 9:19 PM */

@font-face {
	font-family: 'Tungsten';
	src: url('../assets/fonts/Tungsten-Medium.eot');
	src: url('../assets/fonts/Tungsten-Medium.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Tungsten-Medium.woff2') format('woff2'),
		url('../assets/fonts/Tungsten-Medium.woff') format('woff'),
		url('../assets/fonts/Tungsten-Medium.ttf') format('truetype'),
		url('../assets/fonts/Tungsten-Medium.svg#Tungsten-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Tungsten';
	src: url('../assets/fonts/Tungsten-Semibold.eot');
	src: url('../assets/fonts/Tungsten-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Tungsten-Semibold.woff2') format('woff2'),
		url('../assets/fonts/Tungsten-Semibold.woff') format('woff'),
		url('../assets/fonts/Tungsten-Semibold.ttf') format('truetype'),
		url('../assets/fonts/Tungsten-Semibold.svg#Tungsten-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Tungsten';
	src: url('../assets/fonts/Tungsten-Black.eot');
	src: url('../assets/fonts/Tungsten-Black.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Tungsten-Black.woff2') format('woff2'),
		url('../assets/fonts/Tungsten-Black.woff') format('woff'),
		url('../assets/fonts/Tungsten-Black.ttf') format('truetype'),
		url('../assets/fonts/Tungsten-Black.svg#Tungsten-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Tungsten';
	src: url('../assets/fonts/Tungsten-Bold.eot');
	src: url('../assets/fonts/Tungsten-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Tungsten-Bold.woff2') format('woff2'),
		url('../assets/fonts/Tungsten-Bold.woff') format('woff'),
		url('../assets/fonts/Tungsten-Bold.ttf') format('truetype'),
		url('../assets/fonts/Tungsten-Bold.svg#Tungsten-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


*, :after, :before {
    box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: 'Gotham Rounded', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    background: #000000;
    line-height: 1rem;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p{
	direction: ltr;
    text-align: left;
    position: relative;
    white-space: pre-wrap;
}



.shortHeader {
    background: #1c1c1c;
    height: 50px;
    padding: 17px 0px;
    color: #FFFFFF;
}

.left_float {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 360px;
}

.left_float > p {
    display: inline-block;
    margin-left: 40px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -.02em;
}

a.goth_small.inv_btn {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -.02em;
    text-decoration: none;
}

.media.heroBanner {
    height: 80vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    z-index: 3;
}
a.navigationSerifImageLogo {
    margin: 0 auto;
    display: block;
    width: 200px;
}

a.navigationSerifImageLogo > img {
    width: 60%;
    margin: 21px auto 19px;
    display: block;
}

h1.ape_mono {font-family: 'Tungsten';color: #FFFFFF;position: absolute;left: 50%;font-weight: 600;z-index: 10;top: 50%;font-size: 94px;letter-spacing: .01em;text-transform: uppercase;line-height: 1;text-align: Center;-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}

.media.comingsoonSprite {
    position: relative;
    display: block;
    max-width: 480px;
    width: 90vw;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 24px auto 0;
}
.media.comingsoonSprite {}

footer p.ape_mono {
    color: #FFFFFF;
    padding: 17px 40px;
}

@media screen and (max-width:690px){
	h1.ape_mono{
		font-size: 36px;
	}
}