/*
	Theme Name: successean
	Theme URI: http://successean.com
	Description: Successean Theme
	Version: 1.4.2
	Author: Sean Cooper (@)
	Author URI: http://successean.com
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

*, :after, :before {
    box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: 'Gotham Rounded', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    background: #000000;
    line-height: 1rem;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p{
	direction: ltr;
    text-align: left;
    position: relative;
    white-space: pre-wrap;
}

ul,li {
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	outline:0;
}
/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
.site-wrapper {
	width: 88%;
	margin: 0 auto;
	overflow: hidden;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/

.shortHeader {
    background: #1c1c1c;
    height: 40px;
    padding: 12px 0px;
    color: #FFFFFF;
}

.left-float {
    float: left;
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: left;
}

.left-float > p {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -.02em;
}

a.goth_small.inv_btn {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -.02em;
    text-decoration: none;
    margin-right: 10px;
}


.right-float {
    float: right;
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: right;
}

.right-float > p {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -.02em;
}

ul.social-icons li {
	display: inline-block;
	margin: 0 8px;
}
ul.social-icons li img {
	height: 15px;
}


/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/

.navCenter {
	position: relative;
}
.media.heroBanner {
    height: 70vh;
    width: 100vw;
    max-height: 600px !important;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 3;
}
a.navigationSerifImageLogo {
    margin: 0 auto;
    display: block;
    width: 200px;
    position: relative;
}

a.navigationSerifImageLogo > img {
    width: 65%;
    margin: 21px auto 19px;
    display: block;
}
div.left-border {
    background-image: url(img/left-border.png);
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 47%;
    height: 8px;
}

div.right-border {
    background-image: url(img/right-border.png);
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 47%;
    height: 8px;
}

.nav-holder {
	width: 88%;
	margin:0 auto;
}
ul.nav-left {
    float: left;
    padding-top: 14px;
}
ul.nav-left li:first-child {
	margin-right: 60px;
}
ul.nav-right {
    float: right;
    padding-top: 14px;
}
ul.nav-right li:first-child {
	margin-right: 60px;
}

.nav-holder ul li{
	display: inline-block;
}
.nav-holder ul li a{
	display: inline-block;
	font-family: 'Tungsten';
	font-size: 23px;
	font-weight: 600;
	color:#eae7e5;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.nav-holder ul li a:hover {
	color:#00a6c9;
}
.nav-holder ul li.current_page_item a {
	color:#00a6c9;
}
.postContainer {
	position: relative;
}
h1.ape_mono {
	font-family: 'Tungsten';
	color: #FFFFFF;
	position: relative;
	font-weight: 600;
	z-index: 10;
	font-size: 66px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 6px;
	line-height: 1;
	text-align: center;
}
h3.ape_mono {
	font-family: 'Gotham Rounded';
	color: #FFFFFF;
	position: relative;
	top: auto;
	left: auto;
	font-weight: bold;
	z-index: 10;
	font-size: 18px;
	letter-spacing: .015em;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 6px;
	text-align: left ;
}

.media.comingsoonSprite {
    position: relative;
    display: block;
    max-width: 480px;
    width: 90vw;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 24px auto 0;
}
body.home .eventHeroContent,
body.event .eventHeroContent {
	position: absolute;
	left:10%;
	top:20%;
	overflow: hidden;
}
body.home .eventHeroText,
body.event .eventHeroText,
.eventHeroText {
	position: relative;
	z-index: 9;
	background-color: rgba(22, 21, 21, 0.84);
	padding: 20px;
	float: left;
	height: 156px;
}
.event-lead {
	float: left;
	position: relative;
	z-index: 9;
	height: 156px;
}
.event-lead img{
	height: 156px;
	opacity: 0.8;
}
.event-lead img:hover {
	opacity: 1;
}

/*------------------------------------*\
    MENU
\*------------------------------------*/
/*
DROPDOWN
*/
ul.sub-menu  {
	position: absolute;
	background: #000;
	top:40px;
	padding-bottom: 5px;
	z-index: 99;
	border-top: 0;
	display: none;
	margin-left: -8px;
}

ul.sub-menu li {
	display: block;
	margin-right: 0;
	text-align: left;
	padding: 1px 15px;
	padding-left: 8px;
}
ul.sub-menu li a {
/*	font-family: 'BrandonGrotesque-Medium';
	font-size: 12px;
	font-weight:normal;
	color:#110705;*/
	line-height: 1.5em;
	font-size: 18px;
}
ul.sub-menu li a:hover {
	color: #00a6c9;
}
li.menu-item-has-children {
	height: 30px;
}
li.menu-item-has-children:hover > ul.sub-menu {
	display: block;
}



/*------------------------------------*\
    NEWSLETTER
\*------------------------------------*/

.news-box {
	background-color:#161515;
	height: 100px;
	width: 100%;
}
.news-box-wrapper {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}
.news-box img {
	display: inline-block;
	vertical-align: middle;
	height: 60px;
	margin-right: 10px;
}
.news-box p {
	display: inline-block;
	color:#fff;
	font-family: 'Archer';
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.03em;
}

input.newsletterEmail {
	background: #000000;
	border:1px solid #fff;
	color:#fff;
	padding-left:15px;
	height: 35px;
	width: 250px;
	font-family: 'Gotham Rounded';
	font-size: 12px;
	margin-left: 35px;
}

input.updateBtn {
	background: #00a6c9;
	color:#fff;
	text-transform: uppercase;
	border:1px solid #fff;
	height: 35px;
	font-family: 'Tungsten';
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.04em;
	margin-left: -5px;
	width: 55px;
	padding-top: 3px;
}


/*------------------------------------*\
    EVENTS SECTION
\*------------------------------------*/
.events-section {
	background: #e7e8e8;
	padding-top: 10px;
	padding-bottom: 90px;
}
.events-wrapper {
	width: 80%;
	margin: 0 auto;
}


.events-header {
	padding-top: 50px;
	margin-bottom: 60px;
}
.events-header h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	font-size: 32px;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	margin-bottom: 10px;
}
.events-header p {
	text-align: center;
	font-family: 'Archer';
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.05em;
}

.events-masonry {
	overflow: hidden;
}
.mason-left {
	float: left;
	width: 49%;
	margin-right: 1%;
}

.mason-right {
	float: left;
	width: 49%;
	margin-left: 1%;
}
.mason-t-l {
	margin-bottom: 17px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.mason-t-l img {
	width: 100%;
}
.mason-t-r {
	margin-bottom: 17px;
	overflow: hidden;
	position: relative;
}
.mason-t-r .image-holder {
	float: left;
	width: 60%;
}
.mason-t-r .mason-text {
	float: left;
	width: 40%;
	height: 100%;
	margin: 0;
	padding:12px;
	position: absolute;
    right: 0;
}
.mason-t-r img {
	width: 100%;
	float: left;
}
.mason-text {
	margin-top: -2px;
	padding: 30px 20px;
	background-color: rgba(255, 255, 255, 0.95);
}

.mason-text h4 {
	font-family: 'Tungsten';
	font-weight: 600;
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	line-height: 1.3em;
}
.mason-text a h4{
	color:#000;
}
.mason-text a h4:hover {
	text-decoration: underline;
}
.mason-text p {
	font-family: 'Gotham Rounded Book';
	font-weight: normal;
	font-size: 11px;
	letter-spacing: 0.02em;
	line-height: 1.5em;
}

/*------------------------------------*\
    SPECS SECTION
\*------------------------------------*/
.specs-section {
	background-color: #d9dbdc;
	padding-bottom: 60px;
}
.specs-wrapper {
	width: 70%;
	margin: 0 auto;
}
.specs-header {
	padding-top: 60px;
	margin-bottom: 40px;
	text-align: center;
}
.specs-header h4 {
	text-align: center;
	font-family: 'Archer';
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.05em;
}
.specs-header a button {
	text-align: center;
	color:#fff;
	font-family: 'Gotham Rounded';
	font-weight: bold;
	font-size: 11px;
	background-color: #00a6c9;
	border: 0;
	border-radius: 3px;
	padding: 6px 24px;
	margin-top: 20px;
}
.spec-boxes {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.spec-boxes div.box {
	float: left;
	width: 30.3%;
	margin-right: 1%;
	background-color:#fff;
	border-radius: 6px;
	padding: 20px;
	height: 250px;
	-moz-box-shadow: inset 0 -16px 5px -16px rgba(22, 22, 22, 0.75);
    -webkit-box-shadow: inset 0 -16px 5px -16px rgba(22, 22, 22, 0.75);
    box-shadow:inset 0 -16px 5px -16px rgba(22, 22, 22, 0.75);
}
.spec-title {
	float: left;
	width: 3%;
	margin-right: 1%;
	padding-top:150px;
	
}
.spec-title h2 {
	color:#fff;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	font-size: 30px;
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);
}
.spec-boxes div.box:last-child {
	margin-right: 0;
}

.spec-boxes > div h3 {
	font-family: 'Gotham Rounded';
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin: 20px;
}

.spec-boxes ul li {
	font-family: 'Archer';
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    width: 75%;
    margin: 0 auto 10px;
}
.spec-boxes ul li:before {
	content: "-";
  	margin-right: 5px;
}


/*------------------------------------*\
    MEDIA SECTION
\*------------------------------------*/
.media-section {
	background-color: #e7e8e8;
	padding-bottom: 70px;
}
.media-wrapper {
	width: 100%;
	margin: 0 auto;
}
.media-header {
	padding-top: 50px;
	margin-bottom: 40px;
	text-align: center;
}
.media-header img {
	height: 24px;
    margin: 0 20px;
}
.media-header h4 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	font-size: 28px;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: middle;
}
.media-boxes {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.media-boxes .full-box {
	/*width: 400px;*/
	height: 230px;
	background-color:#fff;
	border-radius: 6px;
	padding: 5px;
	text-align: left;
	-moz-box-shadow: inset 0 -16px 5px -16px rgba(22, 22, 22, 0.75);
    -webkit-box-shadow: inset 0 -16px 5px -16px rgba(22, 22, 22, 0.75);
    box-shadow:inset 0 -16px 5px -16px rgba(22, 22, 22, 0.75);
}
.media-boxes .full-box img.media-img {
	width: 50%;
	height: 100%;
	float: left;
}

.box-feed {
	padding: 5px 10px;
	float: left;
	width: 50%;
}
img.feed-icon {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	margin-right: 8px;
}

.box-feed h3 {
	display: inline-block;
	vertical-align: middle;
}
.box-feed-header {
	margin-bottom: 20px;
}

.box-feed-content p {
	font-family: 'Archer';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.03em;
    line-height: 1.2em;
    margin: 0 auto 10px;
}
span.feed-date {
    color: #8c8a8b;
    text-align: right;
    font-family: 'Gotham Rounded';
    font-size: 11px;
    font-weight: 500;
    padding-top: 25px;
}


/*------------------------------------*\
    MAP SECTION
\*------------------------------------*/
.map-section {
	width: 100%;
	background-color: #f2f2f2;
}
.map-banner {
	background-image: url(img/map-banner.png);
	background-size: cover;
	height: 40px;
	width: 100%;
}
.map-header {
	width: 70%;
	margin: 0 auto;
	padding-top: 14px;
}
.map-header h1 {
	color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Gotham Rounded';
    font-weight: 500;
    font-size: 24px;
}



/*------------------------------------*\
    PAGE EVENT
\*------------------------------------*/

body.event .eventHeroContent,
body.single-private-events .eventHeroContent,
.catSlider .eventHeroContent {
	position: absolute;
	left:10%;
	top:5%;
}
.date-bg {
	width:100px;
	background-size: cover;
	position: relative;
	z-index: 9;
	color:#fff;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	letter-spacing: 0em;
	text-transform: uppercase;
	font-size: 32px;
	text-align: center;
	padding-top: 6px;
	line-height: 1em;
	float: left;
	margin-right: 20px;
}
.eventHeroText {
	float: left;
}
.date-bg span.day {
	font-family: 'Gotham Rounded Book';
	font-size: 72px;
	font-weight: normal;
	line-height: 1.1em;
}

.eventHeroText p {
	z-index: 10;
	position: relative;
	top: auto;
	left: auto;
	color: #fff;
    font-family: 'Archer';
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.03em;
}
.seeMore {
    z-index: 99;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Tungsten';
    font-weight:600;
    letter-spacing: 0.05em;
}
.seeMore p {
	text-align: center;
	font-size: 14px;
	margin-bottom: 7px;
}
.seeMore img {
	height: 65px;
}
.share-event {
	text-align: center;
	padding-bottom: 40px;
}

.share-event h6 {
	text-transform: uppercase;
	color: rgba(22, 22, 22, 0.4);
	font-size: 15px;
	font-family: 'Tungsten';
	font-weight: bold;
	letter-spacing: 0.05em;
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}

.share-event img {
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}


/*
Featured Section
*/

.featured-section {
	background-color: #d9dbdc;
	padding-bottom: 50px;
}
.featured-wrapper {
	width: 80%;
	margin: 0 auto;
	padding-top: 70px;
}
.featured-header {
	padding-top: 50px;
	margin-bottom: 40px;
	text-align: center;
}
.featured-header h4 {
	text-align: center;
	font-family: 'Archer';
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.05em;
}
.featured-header a button {
	text-align: center;
	color:#fff;
	font-family: 'Gotham Rounded';
	font-weight: bold;
	font-size: 11px;
	background-color: #00a6c9;
	border: 0;
	border-radius: 3px;
	padding: 6px 24px;
	margin-top: 20px;
}



/*
Event Mason
*/

.related-events-wrapper {
	width: 80%;
	margin: 0 auto;
	padding-top: 0;
}
body.event .related-events-wrapper,
body.media .related-events-wrapper,
body.press .related-events-wrapper,
.cat-section .related-events-wrapper
 {
	padding-top: 50px;
}
.related-events-header {
	margin-bottom: 40px;
	text-align: center;
}
.related-events-header h4 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	font-size: 28px;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	margin-bottom: 10px;
}
.related-events .mason-right,
.related-events .mason-left {
	float: none;
	display: inline-block;
	vertical-align: middle;
	width: 48%;
}
.mason-t-r .related-text {
	position: relative;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.featured-event {
	width: 100%;
}

.featured-event .mason-text {
	float: left;
	width: 40%;
	height: 100%;
	margin: 0;
	padding:30px 20px;
	position: absolute;
    right: 0;
}

.featured-event .mason-text p {
	font-family: 'Gotham Rounded Book';
	font-weight: normal;
	font-size: 11px;
	letter-spacing: 0.02em;
	line-height: 1.5em;
	margin-bottom: 20px;
}


/*------------------------------------*\
    PAGE MEDIA
\*------------------------------------*/
body.media .related-events-wrapper,
body.press .related-events-wrapper {
	width:98%;
}
.media-grid .mason-right,
.media-grid .mason-left {
	float: none;
	display: inline-block;
	vertical-align: top;
	width: 32%;
	margin-left: 1%;
	margin-right: 0;
}
body.media .mason-text {
	overflow:hidden;
	padding:10px 15px;
	height: 133px;
}
body.press .mason-img {
	height: 250px;
	text-align: center;
	background: rgba(255, 255, 255, 0.95);
		padding-top: 65px;
}
body.press .mason-img img {
	width: 80%;
	margin: 0 auto;
}
body.press .mason-text {
	overflow:hidden;
	padding:10px 15px;
	height: 250px;
}
body.press .mason-t-l a {
	color:#000;
}


/*------------------------------------*\
    PAGE CONTACT
\*------------------------------------*/
.contact-section {
	background: #e7e8e8;
	padding-bottom: 150px;
}
body.contact .media.heroBanner {
	height: 40vh;
}
body.contact .eventHeroContent {
	position: absolute;
	left:15%;
	top:35%;
}

.contact-wrapper {
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
}
.contact-header {
	padding-top: 50px;
	margin-bottom: 60px;
	float: left;
	width: 50%;
}
.contact-header p {
	text-align: left;
	font-family: 'Gotham Rounded';
	font-weight: medium;
	font-size: 9px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color:rgba(0, 0, 0, 0.5);
}
.contact-header ul {
	margin-top: 25px;
}
.contact-header ul li {
	font-family: 'Archer';
	font-weight: 400;
	color:#000;
	font-size: 25px;
	margin-bottom: 25px;
}
.contact-header ul li img {
	width: 25px;
	margin-right: 15px;
	display: inline-block;
    vertical-align: middle;
}
div.contact-form {
	background-color: #fff;
	width: 35%;
	float: left;
	position: absolute;
	z-index: 99;
	right:15%;
	top:30%;
}
.contact-title {
	color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Gotham Rounded Book';
    font-weight: normal;
    font-size: 18px;
    background-image: url(img/funky-bg.png);
    background-size:cover;
    padding: 15px 0 15px 30px;
}
div.contact-form .inqSwitch {
	background: #e7e8e8;
	overflow: hidden;
}
div.contact-form .inqSwitch h6 {
	float: left;
	width: 50%;
	text-align:center;
	text-transform: uppercase;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	font-size: 11px;
	color:rgba(0, 0, 0, 0.3);
	padding: 10px 0;
}
div.contact-form .inqSwitch h6.active {
	color:#000;
}
div.contact-form .inqSwitch h6:first-child {
	border-right:2px solid #fff;
}
div.wpcf7 {
	padding: 30px 35px;
}
div.wpcf7 input[type="text"],
 div.wpcf7 input[type="email"],
 div.wpcf7 textarea{
	font-family: 'Gotham Rounded';
	font-weight: 500;
	color:rgba(0, 0, 0, 0.3);
	font-size: 11px;
	letter-spacing: 0em;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 15px;
	border:1px solid #e7e8e8;
}
 div.wpcf7 input[type="submit"] {
 	text-align: center;
    color: #fff;
    font-family: 'Gotham Rounded';
    font-weight: bold;
    font-size: 10px;
    background-color: #00a6c9;
    border: 0;
    border-radius: 3px;
    padding: 6px 24px;
    height: 30px;
    width: 130px;
 }
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok,
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
	font-size: 13px;
}
span.wpcf7-not-valid-tip {
	font-size: 12px;
}

a#event-click:hover,
a#press-click:hover {
	cursor: pointer;
}

.direct-section {
	background-color: #e7e8e8;
	padding-bottom: 50px;
}
.direct-wrapper {
	width: 70%;
	margin: 0 auto;
}
.direct-trans {
	margin-bottom: 30px;
}
.direct-section h3 {
	text-align: left;
    text-transform: uppercase;
    font-family: 'Gotham Rounded';
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.direct-section h5 {
	font-family: 'Archer';
    font-weight: 400;
    color: #000;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.3em;
}

.direct-section p {
	font-family: 'Gotham Rounded Book';
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    margin-bottom: 10px;
}


/*------------------------------------*\
    VENUE INFORMATION
\*------------------------------------*/

 body.venue .media.heroBanner {
    height: 70vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 3;
}
body.venue .eventHeroContent {
	position: absolute;
	left:10%;
	top:30%;
}

body.venue h1.ape_mono {
	text-align: left;
}

.goto-box {
	background-color:rgba(22, 21, 21, 0.9);
	height: 100px;
	width: 100%;
	margin-top: -100px;
    z-index: 9;
    position: relative;
}
.goto-box-wrapper {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}
.goto-tabs button {
	border: 0;
	background-color: #fff;
	color:#000;
	font-family: 'Tungsten';
	font-weight: 600;
	text-transform: uppercase;
	width: 200px;
	height:35px;
	font-size: 15px;
	margin: 20px;
}
.goto-tabs button:hover {
	background-color:#00a6c9;
}

.specs-section {
	background: #d9dbdc;
}
.specs-wrapper {
	width: 80%;
	margin: 0 auto;
}


.specs-header {
	padding-top: 50px;
	margin-bottom: 60px;
}
.specs-header h2 {
	text-align: left;
	text-transform: uppercase;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	font-size: 38px;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	margin-bottom: 10px;
}
.specs-header p {
	text-align: left;
	font-family: 'Archer';
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.05em;
}

.specs-content {
	width: 100%;
	background-image: url(img/specs-bg.png);
	background-size: cover;
	background-position: -60%;
	height: 350px;
	/*background-repeat: no-repeat;*/
}
.specs-image {
	float: left;
}
.specs-image img {
	height: 350px;
}
.funky-moon {
	position: absolute;
    left: 0;
    width: 100px;
    background-image: url(img/ellipse.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.funky-moon img {
	height: 350px;
}
.specs-sheet {
	float: left;
    width: 36%;
    margin-left: -6%;
    margin-top: 25px;
    background-color: #fff;
    border-radius: 3px;
    padding: 30px;
    position: relative;
    height: 300px;

}
.specs-sheet h5 {
	font-family: 'Gotham Rounded';
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	margin-bottom: 20px;
}
.specs-sheet ul {
	padding-left: 15px;
}
.specs-sheet ul li {
	margin-bottom: 15px;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.02em;
	list-style-type: disc;
}
.specs-bullets {
	clear: left;
}
.specs-bullets .specs-wrapper {
	padding-top: 40px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
.specs-bullets ul {
	margin-bottom: 50px;
	column-count: 3;
	column-gap: 40px;
	text-align:left;
}
.specs-bullets ul li {
	margin-bottom: 20px;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.02em;
	list-style-type: disc;
	text-align: left;
    display:inline-block;
    
}
.specs-list-left {
	/*display: inline-block;*/
	/*vertical-align: top;*/
	/*column-count: 3;*/
}
.specs-list-right {
	display: inline-block;
	vertical-align: top;
}


/*
More Events Section
*/

.more-events-section {
	background-color: #d9dbdc;
	padding-bottom: 50px;
}
.more-events-wrapper {
	width: 80%;
	margin: 0 auto;
	padding-top: 70px;
	overflow: hidden;
}
.more-events-header {
	margin-bottom: 40px;
	float: left;
}
.more-events-header h2 {
	text-align: left;
	text-transform: uppercase;
	font-family: 'Tungsten';
	font-weight: 600;
	font-size: 46px;
	letter-spacing: 0.02em;
	line-height: 1em;
	margin-bottom: 10px;
}
.more-events-nav {
	margin-bottom: 40px;
	text-align: right;
	float: right;
}
.more-events-nav h4 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.05em;
	line-height: 2em;
	margin-bottom: 10px;
}

.more-event-tabs {
	width: 100%;
	overflow: hidden;
	text-align:center;
}
body.event .more-event-tabs {
	padding-top: 50px;
}
.more-event-tabs ul li{
	display: inline-block;
	vertical-align: top;
	width: 31%;
	margin-right: 1.8%;
	margin-bottom: 25px;
	height:50px;	
	padding-top: 15px;
	border: 0;
	background-color: #fff;
	color:#000;
	font-family: 'Gotham Rounded';
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	border: 2px solid #fff;
}
.more-event-tabs ul li a {
	color:#000;
}
.more-event-tabs ul li:hover {
	border:2px solid #000;
}
.more-event-tabs ul li:nth-of-type(3n+0){
	margin-right: 0;
}
.lightbox-gallery {
	width: 100%;
	margin:50px auto;
	text-align: center;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer {
	background-color: #f2f2f2;
}
.footer-wrapper {
	width: 70%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
.footer-left {
	float: left;
	width: 70%;
	overflow: hidden;
}
.footer-left > div {
	float: left;
	width: 50%;
}
.footer-left h3 {
	font-family: 'Gotham Rounded';
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	margin-bottom: 5px;
}
.footer-left p {
	font-family: 'Archer';
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 1.2em;
}
.footer-left ul li {
	font-family: 'Archer';
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    margin: 0 auto 10px;
    display: inline-block;
}
.footer-right {
	float: right;
	width: 30%;
}
.footer-right a {
	color:#00a6c9;
}
.connect img {
	width: 32px;
	margin-right: 8px;
}
.connect img::last-child {
	margin-right: 0;
}
footer p.ape_mono {
    color: #8c8a8b;
    text-align: right;
    font-family: 'Gotham Rounded';
	font-size: 11px;
	font-weight: 500;
	padding-top: 25px;
}

@media screen and (max-width:690px){
	h1.ape_mono{
		font-size: 36px;
	}
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/*------------------------------------*\
    PAGES
\*------------------------------------*/


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:600px) {
	ul.nav-left,
	ul.nav-right {
		display: none;
	}
	.left-float {
		width: 40%;
	}
	.left-float p.goth_small{
		display: none;
	}

	.right-float {
		width: 60%;
	}
	div.right-border,
	div.left-border {
		width: 35%;
	}

	body.home .eventHeroContent,
	body.event .eventHeroContent {
		left: 5%;
	}
	body.home .eventHeroText,
	body.event .eventHeroText {
		width: 85%;
	}
	.eventHeroText h3.ape_mono {
		display: none;
	}
	.eventHeroText h1.ape_mono {
		text-align:left;
		font-size: 30px;
	}
	.eventHeroText p {
		font-size: 14px;
	}

	.news-box-wrapper {
		width: 90%;
		padding-top: 12px;
	}
	.news-box img {
		display: none;
	}
	.news-box p {
		font-size: 14px;
    	text-align: center;
	}
	.news-box input.newsletterEmail {
		margin-top: 10px;
		margin-left: 0;
	}

	.events-wrapper {
		width: 90%;
	}
	.events-header h2 {
		font-size: 26px;
	}
	.events-header p {
		font-size: 13px;
	}

	.mason-left,
	.mason-right,
	.related-events .mason-right, 
	.related-events .mason-left {
	    float: none;
	    width: 100%;
	    margin-right: 0;
	}
	.mason-right .mason-text p {
		display: none;
	}
	.mason-right .mason-text h4 {
		font-size: 21px;
	}


	.spec-title {
		display: none;
	}
	.spec-boxes div.box {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 10px;
	}


	/*
	Page Events
	 */

	.more-event-tabs ul li {
		width: 100%;
	}
	.events-section {
		padding-bottom: 30px;
	}
	.related-events-header h4 {
		font-size: 22px;
	}

	body.single-private-events .eventHeroContent {
		top:15%;
	}
	body.single-private-events .eventHeroText{
		width: 60%;
	}
	body.single-private-events .mason-t-r img {
		min-height: 170px;
	}
	body.single-private-events .featured-wrapper {
		width: 90%;
	}
	.featured-event .mason-text {
		padding: 10px;
		text-align: center;
		overflow-y: scroll;
	}
	.featured-event .mason-text p {
		text-align:center;
		font-size: 10px;
		line-height: 1.4em;
	}
	.contact-section {
		padding-bottom: 30px;
	}
	div.contact-form {
		top:25%;
		left:0;
		right:0;
		margin:auto;
		width: 90%;
		float: none;
	}
	div.wpcf7 {
		padding: 25px;
	}
	.contact-header {
		padding-top: 0;
		margin-top: 260px;
		float: none;
		width: 100%;
	}
	.contact-header ul li {
		font-size: 17px;
	}

	body.venue .media.heroBanner {
		height: 50vh;
	}

	.goto-box-wrapper {
		width: 100%;
		padding-top: 13px;
	}
	.goto-tabs button {
		width: 45%;
		margin:0 auto 5px;
	}
	.specs-section {
		padding-bottom: 5px;
	}
	.specs-header h2 {
		font-size: 28px;
		text-align: center;
	}
	.specs-header p {
		font-size: 13px;
		text-align: center;
	}
	.specs-image {
		display: none;
	}
	.funky-moon {
		display: none;
	}
	.specs-sheet {
		width: 100%;
		height:auto;
		margin:0 auto;
		background-color: rgba(255, 255, 255, 0.9);
		background-image: url('img/pier-site1.jpg');
		background-size: cover;
		color:#fff;
		background-position: center center;
	}
	.specs-content {
		height: auto;
	}
	.specs-wrapper {
		width: 90%;
	}
	.specs-list-left,
	.specs-list-right {
		display: block;
		margin-right: 0;
		margin-left: 15px;
		float: left;
		width: 45%;
	}
	.specs-bullets ul {
		width: 95%;
		margin-bottom: 30px;
	}

	.more-events-header {
		float: none;
	}

	.more-events-header h2 {
		text-align: center;
	}

	.media-header h4 {
		font-size: 22px;
	}
	.media-header img {
		height: 20px;
	}

	.slick-slide {
		margin-left: 10px;
		margin-right: 10px;
	}




	.map-header {
	    width: 100%;
	    text-align: center;
	}
	.mapbox img {
		height: 200px !important;
	}

	.footer-wrapper {
		width: 90%;
	}
	.footer-left {
		width: 100%;
		text-align:center;
	}
	.footer-left p {
		font-size: 11px;
		text-align:center;
	}
	footer .connect img {
		width: 25px;
	}
	.footer-right {
		display: none;
	}
	body.event .eventHeroContent, body.single-private-events .eventHeroContent, .catSlider .eventHeroContent {
		left:0;
	}
	.eventHeroText {
		width: 82%;
	}
	body.home .eventHeroText {
		display: none;
	}

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    social media slider/share buttons
\*------------------------------------*/

.twitter-slider {
	background-color:#e7e8e8;
}
.aptf-tweet-content {
	text-align: left;
	font-family: 'Archer';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.2em;
}
.aptf-tweet-content .aptf-tweet-name {
	color:#000 !important;
	text-transform: lowercase;
	text-align: center;
	font-family: 'Gotham Rounded';
}
.aptf-tweet-content::before {
	content:url('img/pier-icon50.png');
	position: absolute;
	left: 40px;
	top:50px;
}
.aptf-tweets-slider-wrapper .aptf-timestamp {
	vertical-align: top;
	font-size: auto !important;
}
.aptf-tweets-slider-wrapper .aptf-timestamp a {
	color: #8c8a8b !important;
    text-align: right;
    font-family: 'Gotham Rounded';
    font-size: 11px;
    font-weight: 500;
}
.aptf-single-tweet-slide {
	height:230px !important;
	width: 345px !important;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    -mox-box-shadow: inset 0 -16px 5px -16px rgba(22, 22, 22, 0.75);
    -webkit-box-shadow: inset 0 -16px 5px -16px rgba(22, 22, 22, 0.75);
    box-shadow: inset 0 -16px 5px -16px rgba(22, 22, 22, 0.75);
}
.aptf-tweet-actions-wrapper {
	position: absolute;
	right: 25px;
	bottom:25px;
}

.a2a_kit.a2a_kit_size_32.a2a_default_style {
	display: inline-block;
	vertical-align: middle;
}
.instagram-feed {
	width: 90%;
	margin: 0 auto;
}
.instagram-feed a {
	color:#000;
}
/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
